# Stock Market Database

In [1]:
import numpy as np
import pandas as pd
import json
from datetime import datetime
import requests
import pymysql

import matplotlib.pyplot as plt
import seaborn as sns

import os
import warnings

import src
import env

warnings.filterwarnings("ignore")

# Acquire

In [2]:
# Create a global variable to hold the apikey path
API_KEY_PATH = '&apikey={env.key}'

In [3]:
def base_url():
    '''
    Base url to acquire financial data.
    
    Parameters
    ----------
    None
    
    Returns
    -------
    url : str
        URL to acquire data using alphavantage REST API.
    '''
    url = 'https://www.alphavantage.co/query?'
    return url

In [4]:
base_url()

'https://www.alphavantage.co/query?'

In [5]:
def response_endpoint(data='INCOME_STATEMENT', ticker='IBM'):
    '''
    Endpoint to a acquire data using alphavantage REST API.
    
    Returns 
    Parameters
    ----------
    data : str, default 'INCOME_STATEMENT'

    ticker : str, default 'IBM'
        
    Returns
    -------
    get_request : requests.models.Response object
        Response object with data from a specified endpoint.
    '''
    global API_KEY_PATH

    function = f'function={data}'
    symbol = f'&symbol={ticker}'
    file_type = '&datatype=csv'

    endpoint = function + symbol + API_KEY_PATH + file_type

    get_request = requests.get(base_url() + endpoint)
    return get_request

In [6]:
data = response_endpoint()
data.status_code

200

In [7]:
report = data.json()
report.keys()

dict_keys(['symbol', 'annualReports', 'quarterlyReports'])

In [8]:
report.get('symbol')

'IBM'

In [9]:
quarterly_data = report.get('quarterlyReports')

df_quarterly = pd.DataFrame(quarterly_data)

df_quarterly = df_quarterly.sort_values('fiscalDateEnding').reset_index(drop=True)

In [10]:
df_quarterly.head()

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2016-06-30,USD,9702000000,20238000000,10536000000,10536000000,2490000000,5349000000,1465000000,7212000000,...,705000000,398000000,3048000000,544000000,167000000,2505000000,2899000000,2490000000,2888000000,2504000000
1,2016-09-30,USD,9013000000,19226000000,10213000000,10213000000,2515000000,4732000000,1397000000,6498000000,...,724000000,403000000,3262000000,409000000,158000000,2854000000,3293000000,2515000000,2918000000,2853000000
2,2016-12-31,USD,11115000000,21770000000,10655000000,10877000000,4755000000,4776000000,1406000000,6360000000,...,731000000,396000000,4981000000,480000000,157000000,4506000000,3268000000,4755000000,5151000000,4501000000
3,2017-03-31,USD,7944000000,18155000000,10211000000,10383000000,1043000000,5027000000,1484000000,6901000000,...,709000000,390000000,1421000000,-329000000,135000000,1753000000,2438000000,1043000000,1433000000,1750000000
4,2017-06-30,USD,8968000000,19289000000,10321000000,10495000000,2111000000,5033000000,1436000000,6857000000,...,730000000,388000000,2442000000,111000000,147000000,2332000000,2852000000,2111000000,2499000000,2331000000

In [11]:
df_quarterly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   fiscalDateEnding                   20 non-null     object
 1   reportedCurrency                   20 non-null     object
 2   grossProfit                        20 non-null     object
 3   totalRevenue                       20 non-null     object
 4   costOfRevenue                      20 non-null     object
 5   costofGoodsAndServicesSold         20 non-null     object
 6   operatingIncome                    20 non-null     object
 7   sellingGeneralAndAdministrative    20 non-null     object
 8   researchAndDevelopment             20 non-null     object
 9   operatingExpenses                  20 non-null     object
 10  investmentIncomeNet                20 non-null     object
 11  netInterestIncome                  20 non-null     object
 12  interestIncome                     20 non-null     object
 13  interestExpense                    20 non-null     object
 14  nonInterestIncome                  20 non-null     object
 15  otherNonOperatingIncome            20 non-null     object
 16  depreciation                       20 non-null     object
 17  depreciationAndAmortization        20 non-null     object
 18  incomeBeforeTax                    20 non-null     object
 19  incomeTaxExpense                   20 non-null     object
 20  interestAndDebtExpense             20 non-null     object
 21  netIncomeFromContinuingOperations  20 non-null     object
 22  comprehensiveIncomeNetOfTax        20 non-null     object
 23  ebit                               20 non-null     object
 24  ebitda                             20 non-null     object
 25  netIncome                          20 non-null     object
dtypes: object(26)
memory usage: 4.2+ KB

In [12]:
df_quarterly.insert(0, 'ticker', report.get('symbol'))

## Acquire Function

In [13]:
df = src.get_financial_data()
df.head()

,ticker,fiscalDateEnding,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,IBM,2016-06-30,9702000000.0,20238000000.0,10536000000.0,10536000000.0,2490000000.0,5349000000.0,1465000000,7212000000.0,...,705000000,398000000,3048000000.0,544000000.0,167000000,2505000000.0,2899000000.0,2490000000.0,2888000000.0,2504000000.0
1,IBM,2016-09-30,9013000000.0,19226000000.0,10213000000.0,10213000000.0,2515000000.0,4732000000.0,1397000000,6498000000.0,...,724000000,403000000,3262000000.0,409000000.0,158000000,2854000000.0,3293000000.0,2515000000.0,2918000000.0,2853000000.0
2,IBM,2016-12-31,11115000000.0,21770000000.0,10655000000.0,10877000000.0,4755000000.0,4776000000.0,1406000000,6360000000.0,...,731000000,396000000,4981000000.0,480000000.0,157000000,4506000000.0,3268000000.0,4755000000.0,5151000000.0,4501000000.0
3,IBM,2017-03-31,7944000000.0,18155000000.0,10211000000.0,10383000000.0,1043000000.0,5027000000.0,1484000000,6901000000.0,...,709000000,390000000,1421000000.0,-329000000.0,135000000,1753000000.0,2438000000.0,1043000000.0,1433000000.0,1750000000.0
4,IBM,2017-06-30,8968000000.0,19289000000.0,10321000000.0,10495000000.0,2111000000.0,5033000000.0,1436000000,6857000000.0,...,730000000,388000000,2442000000.0,111000000.0,147000000,2332000000.0,2852000000.0,2111000000.0,2499000000.0,2331000000.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ticker                             20 non-null     string
 1   fiscalDateEnding                   20 non-null     string
 2   grossProfit                        20 non-null     Float64
 3   totalRevenue                       20 non-null     Float64
 4   costOfRevenue                      20 non-null     Float64
 5   costofGoodsAndServicesSold         20 non-null     Float64
 6   operatingIncome                    20 non-null     Float64
 7   sellingGeneralAndAdministrative    20 non-null     Float64
 8   researchAndDevelopment             20 non-null     Int64
 9   operatingExpenses                  20 non-null     Float64
 10  investmentIncomeNet                20 non-null     Int64
 11  netInterestIncome                  20 non-null     Int64
 12  interestIncome                     20 non-null     Int64
 13  interestExpense                    20 non-null     Int64
 14  nonInterestIncome                  20 non-null     Int64
 15  otherNonOperatingIncome            20 non-null     Int64
 16  depreciation                       20 non-null     Int64
 17  depreciationAndAmortization        20 non-null     Int64
 18  incomeBeforeTax                    20 non-null     Float64
 19  incomeTaxExpense                   20 non-null     Float64
 20  interestAndDebtExpense             20 non-null     Int64
 21  netIncomeFromContinuingOperations  20 non-null     Float64
 22  comprehensiveIncomeNetOfTax        20 non-null     Float64
 23  ebit                               20 non-null     Float64
 24  ebitda                             20 non-null     Float64
 25  netIncome                          20 non-null     Float64
dtypes: Float64(14), Int64(10), string(2)
memory usage: 4.7 KB

In [15]:
df.fillna(0, inplace=True)

# Prepare

In [16]:
df = df.replace(r'None', '0', regex=True)

date_col = df.columns[1]
numeric_cols = df.columns[2:]

df[date_col] = pd.to_datetime(df.loc[:,date_col])
df[numeric_cols] = df.loc[:, numeric_cols].apply(pd.to_numeric,
                                                 downcast='float',
                                                 errors='coerce')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ticker                             20 non-null     string
 1   fiscalDateEnding                   20 non-null     datetime64[ns]
 2   grossProfit                        20 non-null     float32
 3   totalRevenue                       20 non-null     float32
 4   costOfRevenue                      20 non-null     float32
 5   costofGoodsAndServicesSold         20 non-null     float32
 6   operatingIncome                    20 non-null     float32
 7   sellingGeneralAndAdministrative    20 non-null     float32
 8   researchAndDevelopment             20 non-null     float32
 9   operatingExpenses                  20 non-null     float32
 10  investmentIncomeNet                20 non-null     float32
 11  netInterestIncome                  20 non-null     float32
 12  interestIncome                     20 non-null     float32
 13  interestExpense                    20 non-null     float32
 14  nonInterestIncome                  20 non-null     float32
 15  otherNonOperatingIncome            20 non-null     float32
 16  depreciation                       20 non-null     float32
 17  depreciationAndAmortization        20 non-null     float32
 18  incomeBeforeTax                    20 non-null     float32
 19  incomeTaxExpense                   20 non-null     float32
 20  interestAndDebtExpense             20 non-null     float32
 21  netIncomeFromContinuingOperations  20 non-null     float32
 22  comprehensiveIncomeNetOfTax        20 non-null     float32
 23  ebit                               20 non-null     float32
 24  ebitda                             20 non-null     float32
 25  netIncome                          20 non-null     float32
dtypes: datetime64[ns](1), float32(24), string(1)
memory usage: 2.3 KB

In [18]:
df.head()

,ticker,fiscalDateEnding,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,IBM,2016-06-30,9.702000e+09,2.023800e+10,1.053600e+10,1.053600e+10,2.490000e+09,5.349000e+09,1.465000e+09,7.212000e+09,...,705000000.0,398000000.0,3.048000e+09,544000000.0,167000000.0,2.505000e+09,2.899000e+09,2.490000e+09,2.888000e+09,2.504000e+09
1,IBM,2016-09-30,9.013000e+09,1.922600e+10,1.021300e+10,1.021300e+10,2.515000e+09,4.732000e+09,1.397000e+09,6.498000e+09,...,724000000.0,403000000.0,3.262000e+09,409000000.0,158000000.0,2.854000e+09,3.293000e+09,2.515000e+09,2.918000e+09,2.853000e+09
2,IBM,2016-12-31,1.111500e+10,2.177000e+10,1.065500e+10,1.087700e+10,4.755000e+09,4.776000e+09,1.406000e+09,6.360000e+09,...,731000000.0,396000000.0,4.981000e+09,480000000.0,157000000.0,4.506000e+09,3.268000e+09,4.755000e+09,5.151000e+09,4.501000e+09
3,IBM,2017-03-31,7.944000e+09,1.815500e+10,1.021100e+10,1.038300e+10,1.043000e+09,5.027000e+09,1.484000e+09,6.901000e+09,...,709000000.0,390000000.0,1.421000e+09,-329000000.0,135000000.0,1.753000e+09,2.438000e+09,1.043000e+09,1.433000e+09,1.750000e+09
4,IBM,2017-06-30,8.967999e+09,1.928900e+10,1.032100e+10,1.049500e+10,2.111000e+09,5.033000e+09,1.436000e+09,6.857000e+09,...,730000000.0,388000000.0,2.442000e+09,111000000.0,147000000.0,2.332000e+09,2.852000e+09,2.111000e+09,2.499000e+09,2.331000e+09

## Prepare Function

In [19]:
def prep_financial_report(df):
    '''
    
    '''
    date_col = df.columns[1]
    numeric_cols = df.columns[2:]

    df[date_col] = pd.to_datetime(df.loc[:,date_col])
    df[numeric_cols] = df.loc[:, numeric_cols].apply(pd.to_numeric,
                                                     downcast='float',
                                                     errors='coerce')
    df.fillna(0, inplace=True)
    
    return df

In [20]:
df_acquire = src.get_financial_data()
df_prep = prep_financial_report(df_acquire)

In [21]:
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ticker                             20 non-null     string
 1   fiscalDateEnding                   20 non-null     datetime64[ns]
 2   grossProfit                        20 non-null     float32
 3   totalRevenue                       20 non-null     float32
 4   costOfRevenue                      20 non-null     float32
 5   costofGoodsAndServicesSold         20 non-null     float32
 6   operatingIncome                    20 non-null     float32
 7   sellingGeneralAndAdministrative    20 non-null     float32
 8   researchAndDevelopment             20 non-null     float32
 9   operatingExpenses                  20 non-null     float32
 10  investmentIncomeNet                20 non-null     float32
 11  netInterestIncome                  20 non-null     float32
 12  interestIncome                     20 non-null     float32
 13  interestExpense                    20 non-null     float32
 14  nonInterestIncome                  20 non-null     float32
 15  otherNonOperatingIncome            20 non-null     float32
 16  depreciation                       20 non-null     float32
 17  depreciationAndAmortization        20 non-null     float32
 18  incomeBeforeTax                    20 non-null     float32
 19  incomeTaxExpense                   20 non-null     float32
 20  interestAndDebtExpense             20 non-null     float32
 21  netIncomeFromContinuingOperations  20 non-null     float32
 22  comprehensiveIncomeNetOfTax        20 non-null     float32
 23  ebit                               20 non-null     float32
 24  ebitda                             20 non-null     float32
 25  netIncome                          20 non-null     float32
dtypes: datetime64[ns](1), float32(24), string(1)
memory usage: 2.3 KB

## Connect to a SQL Database

In [22]:
cnx = pymysql.connect(**src.config)
cnx.get_warnings = True

cursor = cnx.cursor()

In [23]:
cursor.execute("USE world;")

0

In [24]:
pd.read_sql("""SELECT * FROM country;""", cnx).head()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL

In [25]:
pd.read_sql("""DESCRIBE country;""", cnx)

,Field,Type,Null,Key,Default,Extra
0,Code,char(3),NO,PRI,,
1,Name,char(52),NO,,,
2,Continent,"enum('Asia','Europe','North America','Africa',...",NO,,Asia,
3,Region,char(26),NO,,,
4,SurfaceArea,"float(10,2)",NO,,0.00,
5,IndepYear,smallint,YES,,None,
6,Population,int,NO,,0,
7,LifeExpectancy,"float(3,1)",YES,,None,
8,GNP,"float(10,2)",YES,,None,
9,GNPOld,"float(10,2)",YES,,None,
10,LocalName,char(45),NO,,,
11,GovernmentForm,char(45),NO,,,
12,HeadOfState,char(60),YES,,None,
13,Capital,int,YES,,None,
14,Code2,char(2),NO,,,

## Create a Financial Report Database

In [26]:
# cursor.execute(CREATE DATABASE financials;)
cursor.execute("USE financials;")

0

## Connect to the Database and Insert Data

In [27]:
def get_connection(user=env.user, password=env.password):
    '''
    Returns a formatted url to access a SQL database.
    '''
    return f'mysql+pymysql://{user}:{password}@localhost:3306/financials'

engine =  get_connection()

df_prep.to_sql(name='test',
               con = engine,
               if_exists='replace',
               index=False)

In [28]:
pd.read_sql("""SELECT * FROM test LIMIT 5;""",
            con = engine)

,ticker,fiscalDateEnding,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,IBM,2016-06-30,9.702000e+09,2.023800e+10,1.053600e+10,1.053600e+10,2.490000e+09,5.349000e+09,1.465000e+09,7.212000e+09,...,705000000.0,398000000.0,3.048000e+09,544000000.0,167000000.0,2.505000e+09,2.899000e+09,2.490000e+09,2.888000e+09,2.504000e+09
1,IBM,2016-09-30,9.013000e+09,1.922600e+10,1.021300e+10,1.021300e+10,2.515000e+09,4.732000e+09,1.397000e+09,6.498000e+09,...,724000000.0,403000000.0,3.262000e+09,409000000.0,158000000.0,2.854000e+09,3.293000e+09,2.515000e+09,2.918000e+09,2.853000e+09
2,IBM,2016-12-31,1.111500e+10,2.177000e+10,1.065500e+10,1.087700e+10,4.755000e+09,4.776000e+09,1.406000e+09,6.360000e+09,...,731000000.0,396000000.0,4.981000e+09,480000000.0,157000000.0,4.506000e+09,3.268000e+09,4.755000e+09,5.151000e+09,4.501000e+09
3,IBM,2017-03-31,7.944000e+09,1.815500e+10,1.021100e+10,1.038300e+10,1.043000e+09,5.027000e+09,1.484000e+09,6.901000e+09,...,709000000.0,390000000.0,1.421000e+09,-329000000.0,135000000.0,1.753000e+09,2.438000e+09,1.043000e+09,1.433000e+09,1.750000e+09
4,IBM,2017-06-30,8.968000e+09,1.928900e+10,1.032100e+10,1.049500e+10,2.111000e+09,5.033000e+09,1.436000e+09,6.857000e+09,...,730000000.0,388000000.0,2.442000e+09,111000000.0,147000000.0,2.332000e+09,2.852000e+09,2.111000e+09,2.499000e+09,2.331000e+09

In [29]:
df_prep.to_sql(name='income',
               con = engine,
               # if_exists='append',
               if_exists='replace',
               index=False)

## Read data from a Database

In [30]:
df_sql = pd.read_sql('SELECT * FROM income',
                     con = engine,
)

In [31]:
df_sql.describe()

,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,investmentIncomeNet,netInterestIncome,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
count,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,20.0,2.000000e+01,...,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01
mean,9.198800e+09,1.942320e+10,1.022430e+10,6.418250e+09,2.319050e+09,5.138200e+09,1.459400e+09,6.879800e+09,0.0,-2.365500e+08,...,8.898000e+08,4.504000e+08,2.491200e+09,4.754500e+08,2.365500e+08,2.011750e+09,2.174050e+09,2.319050e+09,2.769450e+09,2.015750e+09
std,1.106894e+09,1.546697e+09,5.938527e+08,5.281177e+09,1.275189e+09,6.214963e+08,1.116307e+08,6.766686e+08,0.0,9.029978e+07,...,1.575569e+08,1.295865e+08,1.329401e+09,1.365535e+09,9.029978e+07,1.127294e+09,1.161486e+09,1.275189e+09,1.235177e+09,1.124060e+09
min,7.922000e+09,1.756000e+10,9.130000e+09,5.900000e+07,-1.450000e+08,4.363000e+09,1.252000e+09,5.963000e+09,0.0,-4.320000e+08,...,7.050000e+08,3.030000e+08,-5.100000e+07,-1.226000e+09,1.350000e+08,-1.053000e+09,-1.250000e+08,-1.450000e+08,4.770000e+08,-1.054000e+09
25%,8.313750e+09,1.814700e+10,9.806000e+09,1.067500e+08,1.448250e+09,4.724250e+09,1.392250e+09,6.468750e+09,0.0,-3.222500e+08,...,7.625000e+08,3.465000e+08,1.496000e+09,5.250000e+06,1.647500e+08,1.535250e+09,1.759250e+09,1.448250e+09,1.977500e+09,1.533500e+09
50%,8.974500e+09,1.915700e+10,1.019150e+10,1.017600e+10,2.186500e+09,5.025500e+09,1.434500e+09,6.754500e+09,0.0,-1.925000e+08,...,7.910000e+08,3.930000e+08,2.604500e+09,2.790000e+08,1.925000e+08,1.853000e+09,2.273500e+09,2.186500e+09,2.651500e+09,1.850500e+09
75%,9.907250e+09,2.027025e+10,1.066050e+10,1.060300e+10,2.736000e+09,5.370000e+09,1.560250e+09,7.086250e+09,0.0,-1.647500e+08,...,1.053000e+09,6.115000e+08,3.114250e+09,3.820000e+08,3.222500e+08,2.551750e+09,2.965250e+09,2.736000e+09,3.111000e+09,2.551500e+09
max,1.111500e+10,2.254200e+10,1.149300e+10,1.168100e+10,4.755000e+09,7.233000e+09,1.630000e+09,9.012000e+09,0.0,-1.350000e+08,...,1.143000e+09,6.290000e+08,4.981000e+09,5.522000e+09,4.320000e+08,4.506000e+09,4.159000e+09,4.755000e+09,5.151000e+09,4.501000e+09

In [32]:
df_sql.head()

,ticker,fiscalDateEnding,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,IBM,2016-06-30,9.702000e+09,2.023800e+10,1.053600e+10,1.053600e+10,2.490000e+09,5.349000e+09,1.465000e+09,7.212000e+09,...,705000000.0,398000000.0,3.048000e+09,544000000.0,167000000.0,2.505000e+09,2.899000e+09,2.490000e+09,2.888000e+09,2.504000e+09
1,IBM,2016-09-30,9.013000e+09,1.922600e+10,1.021300e+10,1.021300e+10,2.515000e+09,4.732000e+09,1.397000e+09,6.498000e+09,...,724000000.0,403000000.0,3.262000e+09,409000000.0,158000000.0,2.854000e+09,3.293000e+09,2.515000e+09,2.918000e+09,2.853000e+09
2,IBM,2016-12-31,1.111500e+10,2.177000e+10,1.065500e+10,1.087700e+10,4.755000e+09,4.776000e+09,1.406000e+09,6.360000e+09,...,731000000.0,396000000.0,4.981000e+09,480000000.0,157000000.0,4.506000e+09,3.268000e+09,4.755000e+09,5.151000e+09,4.501000e+09
3,IBM,2017-03-31,7.944000e+09,1.815500e+10,1.021100e+10,1.038300e+10,1.043000e+09,5.027000e+09,1.484000e+09,6.901000e+09,...,709000000.0,390000000.0,1.421000e+09,-329000000.0,135000000.0,1.753000e+09,2.438000e+09,1.043000e+09,1.433000e+09,1.750000e+09
4,IBM,2017-06-30,8.968000e+09,1.928900e+10,1.032100e+10,1.049500e+10,2.111000e+09,5.033000e+09,1.436000e+09,6.857000e+09,...,730000000.0,388000000.0,2.442000e+09,111000000.0,147000000.0,2.332000e+09,2.852000e+09,2.111000e+09,2.499000e+09,2.331000e+09