# Stock Market Database

In [1]:
import numpy as np
import pandas as pd
import json
from datetime import datetime
import requests

import matplotlib.pyplot as plt
import seaborn as sns

import os
import warnings

import src
from env import key
warnings.filterwarnings("ignore")

# Acquire

In [2]:
# Create a global variable to hold the apikey path
API_KEY_PATH = '&apikey={key}'

In [3]:
def base_url():
    '''
    Base url to acquire financial data.
    
    Parameters
    ----------
    None
    
    Returns
    -------
    url : str
        URL to acquire data using alphavantage REST API.
    '''
    url = 'https://www.alphavantage.co/query?'
    return url

In [4]:
base_url()

'https://www.alphavantage.co/query?'

In [5]:
def response_endpoint(data='INCOME_STATEMENT', ticker='IBM'):
    '''
    Endpoint to a acquire data using alphavantage REST API.
    
    Returns 
    Parameters
    ----------
    data : str, default 'INCOME_STATEMENT'

    ticker : str, default 'IBM'
        
    Returns
    -------
    get_request : requests.models.Response object
        Response object with data from a specified endpoint.
    '''
    global API_KEY_PATH

    function = f'function={data}'
    symbol = f'&symbol={ticker}'
    file_type = '&datatype=csv'

    endpoint = function + symbol + API_KEY_PATH + file_type

    get_request = requests.get(base_url() + endpoint)
    return get_request

In [6]:
data = response_endpoint()
data.status_code

200

In [7]:
report = data.json()
report.keys()

dict_keys(['symbol', 'annualReports', 'quarterlyReports'])

In [8]:
report.get('symbol')

'IBM'

In [9]:
annual_data = report.get('annualReports')
quarterly_data = report.get('quarterlyReports')

df_annual = pd.DataFrame(annual_data)
df_quarterly = pd.DataFrame(quarterly_data)

df_annual = df_annual.sort_values('fiscalDateEnding').reset_index(drop=True)
df_quarterly = df_quarterly.sort_values('fiscalDateEnding').reset_index(drop=True)

In [10]:
df_annual.head()

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2016-12-31,USD,38516000000,79919000000,41403000000,40580000000,10377000000,20869000000,5726000000,28139000000,...,2837000000,1544000000,12321000000,449000000,630000000,11881000000,12081000000,10377000000,11921000000,11872000000
1,2017-12-31,USD,36943000000,79139000000,42196000000,41703000000,10153000000,19680000000,5590000000,26790000000,...,3021000000,1520000000,11395000000,5642000000,615000000,5758000000,8559000000,10153000000,11673000000,5753000000
2,2018-12-31,USD,36936000000,79591000000,42655000000,42655000000,10838000000,19366000000,5379000000,26098000000,...,3127000000,1353000000,11347000000,2619000000,723000000,8723000000,8252000000,10838000000,12191000000,8728000000
3,2019-12-31,USD,36488000000,77147000000,40659000000,591000000,9004000000,20604000000,5989000000,27484000000,...,4209000000,1850000000,10162000000,731000000,1344000000,9435000000,10324000000,9004000000,10854000000,9431000000
4,2020-12-31,USD,35575000000,73620000000,38046000000,439000000,4609000000,23082000000,6333000000,30966000000,...,4227000000,2468000000,4726000000,-864000000,1288000000,5501000000,4850000000,4609000000,7077000000,5590000000

In [11]:
df_annual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   fiscalDateEnding                   5 non-null      object
 1   reportedCurrency                   5 non-null      object
 2   grossProfit                        5 non-null      object
 3   totalRevenue                       5 non-null      object
 4   costOfRevenue                      5 non-null      object
 5   costofGoodsAndServicesSold         5 non-null      object
 6   operatingIncome                    5 non-null      object
 7   sellingGeneralAndAdministrative    5 non-null      object
 8   researchAndDevelopment             5 non-null      object
 9   operatingExpenses                  5 non-null      object
 10  investmentIncomeNet                5 non-null      object
 11  netInterestIncome                  5 non-null      object
 12  interestIncome                     5 non-null      object
 13  interestExpense                    5 non-null      object
 14  nonInterestIncome                  5 non-null      object
 15  otherNonOperatingIncome            5 non-null      object
 16  depreciation                       5 non-null      object
 17  depreciationAndAmortization        5 non-null      object
 18  incomeBeforeTax                    5 non-null      object
 19  incomeTaxExpense                   5 non-null      object
 20  interestAndDebtExpense             5 non-null      object
 21  netIncomeFromContinuingOperations  5 non-null      object
 22  comprehensiveIncomeNetOfTax        5 non-null      object
 23  ebit                               5 non-null      object
 24  ebitda                             5 non-null      object
 25  netIncome                          5 non-null      object
dtypes: object(26)
memory usage: 1.1+ KB

In [12]:
# Acquire Function
src.get_financial_data()

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2016-06-30,USD,9702000000,20238000000,10536000000,10536000000,2490000000,5349000000,1465000000,7212000000,...,705000000,398000000,3048000000,544000000,167000000,2505000000,2899000000,2490000000,2888000000,2504000000
1,2016-09-30,USD,9013000000,19226000000,10213000000,10213000000,2515000000,4732000000,1397000000,6498000000,...,724000000,403000000,3262000000,409000000,158000000,2854000000,3293000000,2515000000,2918000000,2853000000
2,2016-12-31,USD,11115000000,21770000000,10655000000,10877000000,4755000000,4776000000,1406000000,6360000000,...,731000000,396000000,4981000000,480000000,157000000,4506000000,3268000000,4755000000,5151000000,4501000000
3,2017-03-31,USD,7944000000,18155000000,10211000000,10383000000,1043000000,5027000000,1484000000,6901000000,...,709000000,390000000,1421000000,-329000000,135000000,1753000000,2438000000,1043000000,1433000000,1750000000
4,2017-06-30,USD,8968000000,19289000000,10321000000,10495000000,2111000000,5033000000,1436000000,6857000000,...,730000000,388000000,2442000000,111000000,147000000,2332000000,2852000000,2111000000,2499000000,2331000000
5,2017-09-30,USD,8981000000,19153000000,10172000000,10353000000,2701000000,4606000000,1291000000,6281000000,...,792000000,384000000,3065000000,339000000,168000000,2726000000,3394000000,2701000000,3085000000,2726000000
6,2017-12-31,USD,11049000000,22542000000,11493000000,11681000000,4298000000,5014000000,1378000000,6751000000,...,790000000,359000000,4468000000,5522000000,164000000,-1053000000,-125000000,4298000000,4657000000,-1054000000
7,2018-03-31,USD,8247000000,19072000000,10825000000,10825000000,1057000000,5445000000,1405000000,7190000000,...,774000000,340000000,1139000000,-540000000,165000000,1675000000,2109000000,1057000000,1397000000,1679000000
8,2018-06-30,USD,9199000000,20003000000,10804000000,10804000000,2636000000,4857000000,1364000000,6563000000,...,773000000,342000000,2777000000,373000000,173000000,2402000000,2697000000,2636000000,2978000000,2404000000
9,2018-09-30,USD,8803000000,18756000000,9953000000,9953000000,2841000000,4363000000,1252000000,5963000000,...,790000000,348000000,2998000000,304000000,192000000,2692000000,3164000000,2841000000,3189000000,2694000000
10,2018-12-31,USD,10687000000,21761000000,11073000000,11073000000,4306000000,4701000000,1358000000,6381000000,...,790000000,322000000,4432000000,2481000000,193000000,1953000000,282000000,4306000000,4628000000,1951000000
11,2019-03-31,USD,8043000000,18182000000,10139000000,10139000000,1710000000,4691000000,1433000000,6333000000,...,1143000000,303000000,1880000000,289000000,210000000,1593000000,1899000000,1710000000,2013000000,1591000000
12,2019-06-30,USD,9010000000,19161000000,10151000000,74000000,2252000000,5456000000,1407000000,6758000000,...,987000000,307000000,2767000000,269000000,348000000,2499000000,2839000000,2252000000,2559000000,2498000000
13,2019-09-30,USD,8336000000,18028000000,9692000000,75000000,1260000000,5024000000,1553000000,7075000000,...,1058000000,611000000,1521000000,-151000000,432000000,1673000000,1427000000,1260000000,1871000000,1672000000
14,2019-12-31,USD,11100000000,21777000000,10677000000,387000000,4089000000,5433000000,1596000000,7011000000,...,1021000000,629000000,3994000000,324000000,354000000,3669000000,4159000000,4089000000,4718000000,3670000000
15,2020-03-31,USD,7922000000,17571000000,9649000000,76000000,-145000000,5955000000,1625000000,8067000000,...,1012000000,622000000,-51000000,-1226000000,326000000,1176000000,489000000,-145000000,477000000,1175000000
16,2020-06-30,USD,8700000000,18123000000,9423000000,117000000,2121000000,5248000000,1582000000,6579000000,...,1056000000,623000000,1570000000,209000000,323000000,1362000000,1888000000,2121000000,2744000000,1361000000
17,2020-09-30,USD,8430000000,17560000000,9130000000,64000000,1746000000,4647000000,1515000000,6684000000,...,1070000000,613000000,1826000000,128000000,322000000,1698000000,1870000000,1746000000,2359000000,1698000000
18,2020-12-31,USD,10523000000,20367000000,9844000000,181000000,1511000000,7233000000,1611000000,9012000000,...,1089000000,610000000,1380000000,24000000,317000000,1264000000,603000000,1511000000,2121000000,1356000000
19,2021-03-31,USD,8204000000,17730000000,9525000000,59000000,1084000000,5174000000,1630000000,7120000000,...,1052000000,620000000,904000000,-51000000,280000000,956000000,2036000000,1084000000,1704000000,955000000

In [16]:
src.get_financial_data(report_name='BALANCE_SHEET')

,fiscalDateEnding,reportedCurrency,totalAssets,totalCurrentAssets,cashAndCashEquivalentsAtCarryingValue,cashAndShortTermInvestments,inventory,currentNetReceivables,totalNonCurrentAssets,propertyPlantEquipment,...,currentLongTermDebt,longTermDebtNoncurrent,shortLongTermDebtTotal,otherCurrentLiabilities,otherNonCurrentLiabilities,totalShareholderEquity,treasuryStock,retainedEarnings,commonStock,commonStockSharesOutstanding
0,2016-06-30,USD,118056000000,43524000000,10017000000,10017000000,1685000000,26547000000,64926000000,11092000000,...,4586000000,39638000000,44224000000,11508000000,8385000000,15733000000,157298000000,148071000000,53565000000,957400000
1,2016-09-30,USD,115606000000,41433000000,9039000000,9039000000,1729000000,25196000000,64851000000,11104000000,...,6561000000,35563000000,42124000000,10815000000,8138000000,17010000000,158170000000,149585000000,53759000000,954000000
2,2016-12-31,USD,117470000000,43888000000,7826000000,8527000000,1553000000,29245000000,36199000000,10830000000,...,6239000000,34655000000,40893000000,11035000000,7477000000,18246000000,159050000000,152759000000,53935000000,945867403
3,2017-03-31,USD,117495000000,42889000000,10096000000,10695000000,1609000000,25869000000,63625000000,10865000000,...,8055000000,34441000000,42498000000,12351000000,7601000000,18327000000,160359000000,153292000000,54104000000,942400000
4,2017-06-30,USD,120495000000,45013000000,11696000000,12295000000,1604000000,26958000000,63942000000,10903000000,...,7834000000,37612000000,45446000000,11541000000,7437000000,18419000000,161860000000,154234000000,54235000000,934900000
5,2017-09-30,USD,121636000000,44742000000,10915000000,11515000000,1711000000,27126000000,64832000000,11057000000,...,3892000000,41327000000,45218000000,10649000000,7723000000,19627000000,162812000000,155565000000,54395000000,929437441
6,2017-12-31,USD,125356000000,49735000000,11972000000,12580000000,1583000000,None,36788000000,11116000000,...,5214000000,39837000000,45052000000,11552000000,9965000000,17594000000,163507000000,153126000000,54566000000,922179225
7,2018-03-31,USD,125285000000,49122000000,11949000000,12842000000,1753000000,29229000000,65516000000,11278000000,...,3758000000,40410000000,44168000000,13059000000,10250000000,18166000000,164334000000,156371000000,54712000000,920680222
8,2018-06-30,USD,121622000000,46795000000,10741000000,11707000000,1742000000,28340000000,67621000000,11024000000,...,5447000000,37851000000,43298000000,11752000000,10000000000,18520000000,165366000000,157349000000,54827000000,915064434
9,2018-09-30,USD,121990000000,48257000000,11563000000,14495000000,1893000000,27087000000,67024000000,10949000000,...,6773000000,35989000000,42762000000,10704000000,9979000000,19784000000,165995000000,158612000000,54987000000,911152848
10,2018-12-31,USD,123382000000,49146000000,11379000000,11997000000,1682000000,30563000000,5216000000,10792000000,...,7051000000,35605000000,52525000000,11165000000,12174000000,16796000000,168071000000,159206000000,55151000000,892479411
11,2019-03-31,USD,130926000000,52705000000,17134000000,18006000000,1771000000,27945000000,65902000000,10675000000,...,7106000000,39727000000,46833000000,13447000000,12184000000,16481000000,169021000000,159396000000,55287000000,889581542
12,2019-06-30,USD,154652000000,77517000000,45399000000,46273000000,1745000000,24738000000,74908000000,10202000000,...,6530000000,58445000000,79569000000,1000000,12190000000,17645000000,169385000000,160467000000,447340000,886300000
13,2019-09-30,USD,149620000000,38121000000,10087000000,10820000000,1712000000,20959000000,109277000000,10063000000,...,5147000000,57797000000,71474000000,1000000,15564000000,17957000000,169474000000,160709000000,447410000,886000000
14,2019-12-31,USD,152186000000,38420000000,8172000000,8868000000,1619000000,23795000000,58222000000,10010000000,...,7522000000,54102000000,69981000000,13406000000,14526000000,20841000000,169413000000,162954000000,55895000000,887110455
15,2020-03-31,USD,153403000000,38931000000,11218000000,11865000000,1786000000,20669000000,112562000000,9626000000,...,8190000000,52685000000,127712000000,14704000000,15874000000,19999000000,169437000000,162626000000,56092000000,888000000
16,2020-06-30,USD,154200000000,39953000000,12041000000,14104000000,1869000000,19447000000,112325000000,9709000000,...,8444000000,55449000000,98574000000,13812000000,15666000000,20551000000,169386000000,162559000000,56135000000,889400000
17,2020-09-30,USD,154128000000,39845000000,14393000000,15593000000,1949000000,17870000000,112339000000,9958000000,...,9677000000,55129000000,100934000000,13017000000,15484000000,21208000000,169380000000,162806000000,56366000000,891400000
18,2020-12-31,USD,155971000000,39165000000,13212000000,13812000000,1839000000,18738000000,114525000000,10040000000,...,7053000000,54355000000,68165000000,14190000000,14897000000,20597000000,169339000000,162717000000,56556000000,892653424
19,2021-03-31,USD,148629000000,34038000000,10531000000,11131000000,1828000000,16067000000,112465000000,9452000000,...,5162000000,51206000000,83548000000,15534000000,14489000000,21389000000,169360000000,162218000000,56788000000,893630916

In [17]:
src.get_financial_data(report_name='CASH_FLOW')

,fiscalDateEnding,reportedCurrency,operatingCashflow,paymentsForOperatingActivities,proceedsFromOperatingActivities,changeInOperatingLiabilities,changeInOperatingAssets,depreciationDepletionAndAmortization,capitalExpenditures,changeInReceivables,...,dividendPayoutCommonStock,dividendPayoutPreferredStock,proceedsFromIssuanceOfCommonStock,proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,proceedsFromIssuanceOfPreferredStock,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,netIncome
0,2016-06-30,USD,3458000000,None,None,None,None,398000000,870000000,None,...,1340000000,None,None,178000000,None,-780000000,None,-4338000000,-103000000,2504000000
1,2016-09-30,USD,4117000000,None,None,None,None,1275000000,768000000,None,...,1337000000,None,None,105000000,None,-806000000,None,-978000000,41000000,2853000000
2,2016-12-31,USD,3979000000,None,None,None,None,695000000,973000000,712000000,...,1329000000,None,None,764000000,None,-1036000000,None,-1212000000,-206000000,4501000000
3,2017-03-31,USD,3955000000,None,None,None,None,1099000000,740000000,None,...,1321000000,None,None,2887000000,None,-1293000000,None,2270000000,100000000,1750000000
4,2017-06-30,USD,3466000000,None,None,None,None,388000000,685000000,None,...,1403000000,None,None,2948000000,None,-1432000000,None,1600000000,447000000,2331000000
5,2017-09-30,USD,3570000000,None,None,None,None,1176000000,848000000,None,...,1395000000,None,None,3520000000,None,-949000000,None,-781000000,328000000,2726000000
6,2017-12-31,USD,5733000000,None,None,None,None,1149000000,956000000,1297000000,...,1387000000,None,None,288000000,None,-666000000,None,1057000000,62000000,-1054000000
7,2018-03-31,USD,4602000000,None,None,None,None,1114000000,870000000,None,...,1382000000,None,None,2170000000,None,-777000000,None,-71000000,None,1679000000
8,2018-06-30,USD,2294000000,None,None,None,None,342000000,931000000,None,...,1437000000,None,None,336000000,None,-990000000,None,2404000000,None,2404000000
9,2018-09-30,USD,4232000000,None,None,None,None,1138000000,812000000,None,...,1431000000,None,None,2208000000,None,-626000000,None,827000000,None,2694000000
10,2018-12-31,USD,4119000000,None,None,None,None,1112000000,782000000,1006000000,...,1416000000,None,None,2177000000,None,-2050000000,None,-31000000,None,1951000000
11,2019-03-31,USD,4759000000,None,None,None,None,1446000000,539000000,None,...,1397000000,None,None,5979000000,None,-920000000,None,5769000000,None,1591000000
12,2019-06-30,USD,2941000000,None,None,None,None,307000000,583000000,None,...,1436000000,None,None,25270000000,None,-407000000,None,2498000000,None,2498000000
13,2019-09-30,USD,3619000000,None,None,None,None,1669000000,588000000,None,...,1436000000,None,None,247000000,None,-125000000,None,-34931000000,None,1672000000
14,2019-12-31,USD,3451000000,None,None,None,None,1650000000,576000000,None,...,1438000000,None,None,329000000,None,-86000000,None,-2096000000,None,3670000000
15,2020-03-31,USD,4476000000,None,None,None,None,1634000000,630000000,None,...,1440000000,None,None,6055000000,None,-44000000,None,3459000000,None,1175000000
16,2020-06-30,USD,3576000000,None,None,None,None,1679000000,585000000,None,...,1450000000,None,None,4135000000,None,-167000000,None,1361000000,None,1361000000
17,2020-09-30,USD,4285000000,None,None,None,None,1683000000,725000000,None,...,1453000000,None,None,147000000,None,-14000000,None,2264000000,None,1698000000
18,2020-12-31,USD,5860000000,None,None,None,None,1699000000,678000000,5297000000,...,1454000000,None,None,167000000,None,-77000000,None,-991000000,None,1356000000
19,2021-03-31,USD,4914000000,None,None,None,None,1672000000,494000000,None,...,1457000000,None,None,51000000,None,-26000000,None,-2869000000,None,955000000

# Prepare

In [13]:
numeric_cols = df_annual.columns[2:]
date_col = df_annual.columns[0]

df_annual[numeric_cols] = df_annual.loc[:, numeric_cols].apply(pd.to_numeric, downcast='integer', errors='coerce')
df_quarterly[numeric_cols] = df_quarterly.loc[:, numeric_cols].apply(pd.to_numeric, downcast='integer', errors='coerce')

df_annual[date_col] = pd.to_datetime(df_annual.loc[:,date_col])
df_quarterly[date_col] = pd.to_datetime(df_quarterly.loc[:,date_col])

In [14]:
df_annual.insert(0, 'ticker', report.get('symbol'))
df_quarterly.insert(0, 'ticker', report.get('symbol'))

In [15]:
df_annual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 27 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ticker                             5 non-null      object
 1   fiscalDateEnding                   5 non-null      datetime64[ns]
 2   reportedCurrency                   5 non-null      object
 3   grossProfit                        5 non-null      int64
 4   totalRevenue                       5 non-null      int64
 5   costOfRevenue                      5 non-null      int64
 6   costofGoodsAndServicesSold         5 non-null      int64
 7   operatingIncome                    5 non-null      int64
 8   sellingGeneralAndAdministrative    5 non-null      int64
 9   researchAndDevelopment             5 non-null      int64
 10  operatingExpenses                  5 non-null      int64
 11  investmentIncomeNet                0 non-null      float64
 12  netInterestIncome                  5 non-null      int32
 13  interestIncome                     5 non-null      int32
 14  interestExpense                    5 non-null      int32
 15  nonInterestIncome                  0 non-null      float64
 16  otherNonOperatingIncome            5 non-null      int32
 17  depreciation                       5 non-null      int64
 18  depreciationAndAmortization        5 non-null      int64
 19  incomeBeforeTax                    5 non-null      int64
 20  incomeTaxExpense                   5 non-null      int64
 21  interestAndDebtExpense             5 non-null      int32
 22  netIncomeFromContinuingOperations  5 non-null      int64
 23  comprehensiveIncomeNetOfTax        5 non-null      int64
 24  ebit                               5 non-null      int64
 25  ebitda                             5 non-null      int64
 26  netIncome                          5 non-null      int64
dtypes: datetime64[ns](1), float64(2), int32(5), int64(17), object(2)
memory usage: 1.1+ KB